.header{
    position: sticky;
    top:0; left:0; right:0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1% 2%; 
    /* background-color: white; */
    /* background-color: #f1f2ed; */
    /* background-image: url('navbg.JPEG'); */
    z-index: 100;
}

.header .logo span{
    color: rgb(3, 234, 255);
}
.header .navbar a{
    float: left;
    font-size: 1.3rem;
    color:#e0d0d0;   
    padding-left: 0.7rem;
    margin-right: 6.9rem;
    text-align:right;
    text-decoration: none;
    padding:.5% 0%;
    
}

.header .navbar a:hover{
    color: white;
}
.dropbtn {
  background-color: #f1f2ed;
  color: #633768;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color:#633768 ;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: black;
}

.btn{
    display: inline-block;
    padding:.6rem;
    font-size: 0.8rem;
    border-radius: .5rem;
    /* background-color: #fff; */
    color:#efab53;
    cursor:pointer;
    font-weight:bolder;
    text-decoration: none;
    border-style: solid;
}
.btn1{
  /* margin-left: 8rem; */
  /* margin-right: 8rem; */
    display: inline-block;
    padding:.6rem;
    font-size: 1.3rem;
    border-radius: .5rem;
    /* background-color: #fff; */
    /* color:#050801; */
    cursor:pointer;
    font-weight:bolder;
    text-decoration: none;
    border-style: solid;
}
.btn2{
  margin-left: 3%;
  margin-top: 35%;
  display: inline-block;
  padding:.6rem;
  font-size: 0.8rem;
  border-radius: .5rem;
    /* background-color: #fff; */
  color:#efab53;
  cursor:pointer;
  font-weight:bolder;
  text-decoration: none;
  border-style: solid;
}
.btn:hover,.btn1:hover,.btn2:hover{
  background: #c4c8c7;
  /* color:#fff; */
  color: #633768;
}
.content2 {
    /* padding: 5% 7% ; */
    padding: 5% 5% 0% 12.5%;
    height:60%;
    color:white;
    /* position: relative; */
    border-radius: 1%;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'DIN Condensed', sans-serif;
  }

  .foots{
    padding: 33.5% 10% 3% 32%;
    height:100%;
    color:white;
    position: absolute;
    border-radius: 2%;
    font-size: 0.8rem;
    text-decoration: none;
  }
  .foots ul{
    list-style-type:none;
    /* max-height: -50%; */
  }
  .foots ul li{
    /* text-align: left; */
    display:inline;
    padding: 1%;
    /* list-style-type: none; */
  }
  /* .query{
    margin-top: 45px;
    margin-left: 270px;
    color:grey;
    position: relative;
    border-radius: 6px;
    font-size: 1.2rem;
    text-decoration: none;
  } */
  .names{
    margin-top: 5px;
    margin-left: 220px;
    color:grey;
    position: relative;
    border-radius: 6px;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .container-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #705851;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:2%;
    padding-left: 3%;
    padding-right: 3%;
    z-index: 100;
  }
  
  /* .society{
    float: left;
    margin-left:125px;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    overflow:hidden;
    background-image:url("society.jpeg");
  } */
  

.white-box { 
width: 80%; 
/* max-width: 100%; */
height: auto; 
margin-top: 1%; 
margin-left: auto; 
margin-right: auto;  
/* display: block; */
/* background-position: value;    */
background-image:url("rules.jpeg") ;
/* background: rgba(255,255,255,0.9); */
padding: 1%;
-webkit-box-shadow: 0 1% 2% rgba(0,0,0,0.15);
-moz-box-shadow: 0 1% 2%  rgba(0,0,0,0.15);
box-shadow: 0 1% 2%  rgba(0,0,0,0.15);
-webkit-border-radius: 2%;
-moz-border-radius: 2%;
-ms-border-radius: 2%;
-o-border-radius: 2%;
border-radius: 2%;
font-size: 100%;
text-align: justify;
/* display: flex; */
  align-items: center;
  justify-content: center;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

/* background-color: white; */
}

.text-centre{
  text-align: center;
  color: #efab53;
  /* color: #805d56; */
}

.timeline {
  position: relative;
  max-width: 75%;
  margin: 0 auto;
}
.timeline::after {
  content: '';
  position:absolute;
  width: .7%;
  background-color:#5f6c8c;
  top: 0;
  bottom: 20%;
  left: 50%;
  margin-left: 0%;

}
.contain {
  padding: 2% 4%;
  position: relative;
  background-color: inherit;
  width: 60%;
 
}

.contain::after {
  content: '';
  position: absolute;
  width: 4%;
  height: 10%;
  margin-left: 0.2%;
  background-color: white;
  border: 4px solid #5f6c8c;
  top: 8%;
  border-radius: 50%;
  z-index: 1;
}
.left {
  left: -17%;
}
.right {
  left: 50%;

}
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 10%;
  width: 0;
  z-index: 1;
  right: 4.8%;
  border: medium solid #5f6c8c;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #5f6c8c;
}
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 10%;
  width: 0;
  z-index: 1;
  left: 4.8%;
  border: medium solid #5f6c8c;
  border-width: 10px 10px 10px 0;
  border-color: transparent #5f6c8c transparent transparent;
}
.right::after {
  left: -2.2%;
}
.left::after {
  left: 96.3%;
}

@media screen and (max-width: 600px) {
  
  .timeline::after {
    left: -12%;
  }  
  .contain {
    width: 100%;
    padding-left: 0%;
    padding-right: 50%;
    left:-17%
  }
  .contain::before {
    /* left: 7%;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent; */

      content: " ";
      height: 0;
      position: absolute;
      width: 0;
      z-index: 1;
      top:5%;
      left: 8%;
      border: medium solid #5f6c8c;
      border-width: 10px 10px 10px 0;
      border-color: transparent #5f6c8c transparent transparent;
    }
  .left::after, .right::after {
    left: 0.5%;
  }
  .right {
    left: -17%;
  }
  .con1{
    left:14%;
  }
  .con2 {
    left:14%;
  }
  .con3 {
    left:14%;
  }
  .container{
    
    display:inline-block;
  }
  .image-left {
  flex-basis: 20%;
  padding-left: 3%;
  
}
.btn{
  display: inline-block;
  padding:.6rem;
  font-size: 0.7rem;
  border-radius: .5rem;
  /* background-color: #fff; */
  color:#efab53;
  cursor:pointer;
  font-weight:bolder;
  text-decoration: none;
  border-style: solid;
}
.btn1{
/* margin-left: 8rem; */
/* margin-right: 8rem; */
  display: inline-block;
  padding:.8rem;
  font-size: 1.3rem;
  border-radius: .5rem;
  /* background-color: #fff; */
  /* color:#050801; */
  cursor:pointer;
  font-weight:bolder;
  text-decoration: none;
  border-style: solid;
}
.btn2{
margin-left: 3%;
margin-top: 35%;
display: inline-block;
padding:.6rem;
font-size: 0.7rem;
border-radius: .5rem;
  /* background-color: #fff; */
color:#efab53;
cursor:pointer;
font-weight:bolder;
text-decoration: none;
border-style: solid;
}
.btn:hover,.btn1:hover,.btn2:hover{
background: #c4c8c7;
/* color:#fff; */
color: #633768;
}
  .content2{
    padding: 50% 10% 10% 20%;
    height:100%;
    color:white;
    /* position: relative; */
    border-radius: 1%;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'DIN Condensed', sans-serif;
  }
  .foots{
    padding: 50% 1% 1% 34%;
    height:100%;
    color:white;
    position: absolute;
    border-radius: 2%;
    font-size: 0.7rem;
    text-decoration: none;
    /* float:right; */
    /* text-align: center; */
  }
  .social ul li{
    text-align: left;
    display:inline;
    padding: 1%;
    list-style-type: none;
  }
  #flex { 
  display: flex; 
  
  flex-direction: column;
}
#flex > #flex-a { order: 2; }
#flex > #flex-b { order: 1; }

}

.con1 {
  padding: 0%;
  background-image: url("phase1.jpeg");
  /* color:#1b2d5b; */
  color: #633768;
  position: relative;
  border: 1% #5f6c8c;
  border-radius: 3%;
  font-size: 1rem;
  text-align: center;
  background-size: cover;
  font-weight: bold;
  
}
.con2 {
  padding: 0%;
  background-image: url("phase2.jpeg");
  /* color:#1b2d5b; */
  color: #633768;
  position: relative;
  border: 1% #5f6c8c;
  border-radius: 3%;
  font-size: 1rem;
  /* left:3.5%; */
  text-align: center;
  background-size: cover;
  font-weight: bold;
  
}
.con3 {
  padding: 0%;
  background-image: url("phase3.jpeg");
  /* color:#1b2d5b; */
  color: #633768;
  position: relative;
  border: 1% #5f6c8c;
  border-radius: 3%;
  font-size: 1rem;
  text-align: center;
  background-size: cover;
  font-weight: bold;
  
}

.con1 > h3{
  margin: 0%;
  padding: 2%;
  background-color: #5f6c8c;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.con2 > h3{
  margin: 0%;
  padding: 2%;
  background-color: #5f6c8c;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.con3 > h3{
  margin: 0%;
  padding: 2%;
  background-color: #5f6c8c;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.con1 .mainCon{
  padding: 2%;
  font-family: 'Times New Roman', Times, serif;
  text-align: centre;
}
.con2 .mainCon{
  padding: 2%;
  font-family: 'Times New Roman', Times, serif;
  text-align: centre;
}
.con3 .mainCon{
  padding: 2%;
  font-family: 'Times New Roman', Times, serif;
  text-align: centre;
}

.seg{
  text-align: center;
}

.image-left {
  flex-basis: 20%;
  padding-right: 3%;
  
}
.image-right {
  flex-basis: 20%;
  padding-left: 3%;
  padding-right: 3%;
}

.text-right {
  flex-basis: 60%;
  padding-left: 3%;
  padding-right: 0%;
  text-align: justify;
  color: #633768;
  font-weight: bold;
}
.text-left {
  flex-basis: 60%;
  padding-left: 0%;
  padding-right: 0%;
  text-align: justify;
  color: #633768;
  font-weight: bold;
}


